body{
	background-color: grey;
	box-sizing: border-box;
	font-size: 20px
}
header{
	text-align: center;
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top:15px;
}
nav{
	text-align: center;
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top:15px;
}
section{
	position:relative;
	display: inline-block;
	padding-top:22px;
	padding-bottom: 22px;
	width:50%;
	text-align: center;
	background-color: white;
	height:250px;
	margin-top:15px;

}
#article{

	position:relative;
	height:150px;
	background-color: grey;
	margin:20px;
	padding:10px;


}
#h1h2h3{
	position:relative;
	background-color: white;
	padding-top:15px;
	padding-bottom: 15px;
	margin:10px;


}
#p{
	position:relative;
	background-color: white;
	padding-top:15px;
	padding-bottom: 15px;
	margin:10px;

}
aside{
	display:inline-block;
	width:43%;
	text-align: center;
	background-color: white;
	padding-top:50px;
	height:250px;
	margin-top:15px;
	float:right;

}
footer{
	text-align: center;
	background-color: white;
	padding-top: 30px
	padding-bottom:30px;
	margin-top:15px;
}